<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <meta charset="utf-8">
    <title>subscrine Now</title>
    <!-- Vendor CSS Files -->
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/bootstrap-5.1.3/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/fontawesome-6.0.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="vendor/fontawesome-6.0.0/css/solid.min.css">
    <link rel="stylesheet" href="vendor/fontawesome-6.0.0/css/brands.min.css">
    <link rel="stylesheet" href="vendor/css/style.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="style.css">
</head>
    
<body>
    
        <div class="wrapper">
    
            <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Logo - Name</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="nav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login.html">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Plans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About us</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" placeholder="e.g. transportation...">
                            <button class="btn btn-outline-light" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>

<div class="content container">
 <div class="demo" style="background: #fff; padding-bottom: 50px;">

    
        <div class="container">
            <div class="row text-center">
                <h1 class="heading-title">Subscribe Now!</h1>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                Standard
                            </span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>Monthly</b></li>
                                <li><b>text</b></li>
                                <li><b>text</b> </li>
                                <li><b>text</b> </li>
                                <li><b>text</b> </li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->
                        <div class="pricing-plans">
                            <span  class="price-value"><i class="fa fa-usd"></i>10<span>$</span> </span>
                            <span class="month">month</span>
                        </div>
                        <div class="pricingTable-sign-up">
                            <a href="#" class="btn btn-block btn-default">Subscribe</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable active">
                        <div class="pricingTable-header">
                            <span class="heading">
                                Business
                            </span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>Yearly</b></li>
                                <li><b>text</b></li>
                                <li><b>text</b> </li>
                                <li><b>text</b> </li>
                                <li><b>text</b> </li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i>100<span>$</span> </span>
                            <span class="month">year</span>
                        </div>
                        <div class="pricingTable-sign-up">
                            <a href="#" class="btn btn-block btn-default">Subscribe</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                Premium
                            </span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>Yearly</b></li>
                                <li><b>text</b></li>
                                <li><b>text</b> </li>
                                <li><b>text</b> </li>
                                <li><b>text</b> </li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i>120<span>$</span> </span>
                            <span class="month">year</span>
                        </div>
                        <div class="pricingTable-sign-up">
                            <a href="#" class="btn btn-block btn-default">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- ======= Footer ======= -->
    <footer class="bg-light">
        <div class="container">
            <div class="row align-items-center g-4">
                <div class="col-md-3 d-flex justify-content-center">
                    <h2 class="d-inline m-2"><a href=""><i class="fa-brands fa-facebook"></i></a></h2>
                    <h2 class="d-inline m-2"><a href=""><i class="fa-brands fa-instagram"></i></a></h2>
                    <h2 class="d-inline m-2"><a href=""><i class="fa-brands fa-linkedin"></i></a></h2>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center text-muted">
                    <h6>Contact Us</h6>
                    <ul class="list-unstyled px-4">
                        <li><i class="fa-solid fa-phone"></i>&ThickSpace; 123 456 789</li>
                        <li><i class="fa-solid fa-envelope"></i>&ThickSpace; email@example.com</li>
                    </ul>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    <span class="text-muted"><i class="fa-solid fa-copyright"></i>&ThickSpace; Copyright 2022</span>
                </div>
            </div>
        </div>
    </footer>
    
    </div>
    
    <!-- End Footer -->
    <script src="vendor/bootstrap-5.1.3/bootstrap.bundle.min.js"></script>
    <script src="main.js"></script>
    
</body>
</html>
