<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book service</title>

    <link rel="stylesheet" href="vendor/bootstrap-5.1.3/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/fontawesome-6.0.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="vendor/fontawesome-6.0.0/css/solid.min.css">
    <link rel="stylesheet" href="vendor/fontawesome-6.0.0/css/brands.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="wrapper">

        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">Logo - Name</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Plans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About us</a>
                </li>
                </ul>
                <form class="d-flex">
                <input class="form-control me-2" placeholder="e.g. transportation...">
                <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
            </div>
        </nav>

        <div class="content container">

            <div class="row">
                <div class="col-12 col-md-5 col-lg-2 p-5 p-md-1">
                    <img src="img/profilepicture.jpg" class="rounded-circle shadow w-100">
                </div>
                <div class="col-12 col-md-7 col-lg-10">
                    <h2>John Smith</h2>
                    <p>
                        <i class="fa-solid fa-star checkedstar"></i>
                        <i class="fa-solid fa-star checkedstar"></i>
                        <i class="fa-solid fa-star checkedstar"></i>
                        <i class="fa-solid fa-star uncheckedstar"></i>
                        <i class="fa-solid fa-star uncheckedstar"></i>
                    </p>
                    <div class="text-muted pb-2">
                        Availability
                    </div>
                    <div class="d-flex flex-wrap gap-4">
                        <div>
                            Monday<br>
                            10:00am-11:00am<br>
                            5:00pm-8:00pm<br>
                        </div>
                        <div class="text-muted">
                            Tuesday
                        </div>
                        <div class="text-muted">
                            Wednesday
                        </div>
                        <div>
                            Thursday<br>
                            10:00am-3:00pm
                        </div>
                        <div>
                            Friday<br>
                            7:00pm-11:00pm
                        </div>
                        <div class="text-muted">
                            Saturday
                        </div>
                        <div class="text-muted">
                            Sunday
                        </div>
                    </div>
                </div>
            </div>

            <div class="servicedescription py-5 px-lg-5">
                <h4 class="text-muted pb-3">Job Description</h4>
                <div>
                    <p class="text-muted">Category</p>
                    <a href="browse_category.html" class="text-decoration-none">Cleaning</a>
                </div>
                <div>
                    <p class="text-muted">Tags</p>
                    <p class="categorytag">
                        <a href="browse_category.html">cleaning</a>
                        <a href="browse_category.html">housekeeping</a>
                        <a href="browse_category.html">housework</a>
                        <a href="browse_category.html">chores</a>
                    </p>
                </div>
                <div>
                    <p class="text-muted">Hourly rate</p>
                    <p>$12/hr</p>
                </div>
                <div>
                    <p class="text-muted">Description</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, aspernatur quasi dolorum in ea magnam ipsum porro illum amet minus fugiat quidem ad dicta laudantium cum modi impedit facilis quis.</p>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <a href="" class="btn btn-primary btn-lg">Book a Timeslot</a>
            </div>

        </div>

        <footer class="bg-light">
            <div class="container">
                <div class="row align-items-center g-4">
                    <div class="col-md-3 d-flex justify-content-center">
                        <h2 class="d-inline m-2"><a href=""><i class="fa-brands fa-facebook"></i></a></h2>
                        <h2 class="d-inline m-2"><a href=""><i class="fa-brands fa-instagram"></i></a></h2>
                        <h2 class="d-inline m-2"><a href=""><i class="fa-brands fa-linkedin"></i></a></h2>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center align-items-center text-muted">
                        <h6>Contact Us</h6>
                        <ul class="list-unstyled px-4">
                            <li><i class="fa-solid fa-phone"></i>&ThickSpace; 123 456 789</li>
                            <li><i class="fa-solid fa-envelope"></i>&ThickSpace; email@example.com</li>
                        </ul>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center">
                        <span class="text-muted"><i class="fa-solid fa-copyright"></i>&ThickSpace; Copyright 2022</span>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <script src="vendor/bootstrap-5.1.3/bootstrap.bundle.min.js"></script>
    <script src="main.js"></script>
    
</body>
</html>