


<div class="wrapper">

    <nav>
        blah blah
    </nav>

    <div class="content container">

        <main></main>

        <aside></aside>

        etc...

    </div>

    <footer>
        blah blah
    </footer>

</div>